body {
    background-image: url("body.jpg");
    background-size: 100% auto;
}

h1,
p,
form div {
    color: white;
}

.dropbtn {
    background-color: #444444;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: #111111;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1
}

.show {
    display: block;
}

#menu {
    background: #DDD;
    text-align: center;
    padding: 5px;
    line-height: 1.5;
    border-radius: 3px;
    overflow: auto;
}

#menu>#loggedInUser {
    float: right;
    margin-right: 10px;
}

#menu a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

#menu a:hover {
    background: #BBB;
}

iframe,
img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    overflow: hidden;
}

main>section {
    display: none;
    margin: auto;
    width: 50%;
    border: 3px solid #000000;
    padding: 15px;
    border-radius: 15px;
}

section h1 {
    text-align: center;
    font-size: 1.2em;
}

table {
    table-layout: fixed;
}

table th {
    background: #DDD;
    padding: 10px;
}

table td {
    max-width: 200px;
    padding: 5px 10px;
    background: #EEE;
    word-wrap: break-word;
}

footer {
    background: #DDD;
    padding: 5px 10px;
    font-size: 0.8em;
    text-align: center;
    border-radius: 3px;
}